@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #F84565;
    --color-primary-dull: #D63854
}

* {
    font-family: "DM Sans", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #787777 #1e1e1e;
}

body {
    color: white;
    background-color: #09090B;
}

.no-scrollbar {
    scrollbar-width: none;
}

html {
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}